
<StaticPage>
  <section class="au-o-layout au-o-region-large">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-3-4@small au-u-1-2@medium">
        <AuContent @skin="large">
          <h1>{{config "appName"}}</h1>
          <p class="au-c-heading au-c-heading--4">{{config "maintenance.message"}}</p>

        </AuContent>
      </div>

    </div>
  </section>


</StaticPage>
