<StaticPage>
  <section class="au-o-layout au-o-region-large">
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item">
        <AuContent @skin="large">
          <h1>{{config "maintenance.appTitle"}}</h1>
          <p class="au-c-heading au-c-heading--4">{{config "maintenance.message"}}</p>
        </AuContent>
      </div>

    </div>
  </section>


</StaticPage>
